* { box-sizing: border-box }
:root { background: plum; color: #110111; }
::selection { background: darkviolet; color: lightsalmon }

.wox {
  background-color: violet;
  background-image: radial-gradient(mediumpurple, deepskyblue, violet, hotpink);
}

.lan {
  background-color: violet;
  background-image: conic-gradient(coral, violet, mediumpurple);
}

.wuv {
  background-color: violet;
  background-image: linear-gradient(.333turn, violet, violet 30%, thistle 30%, thistle);
}

.luv {
  background-color: thistle;
  background-image: linear-gradient(.6turn, mediumpurple, violet, salmon);
}

.bip { font-size: 2em }
.bop { font-size: 3em; writing-mode: sideways-lr }
.bup { font-size: 5em; text-decoration-line: overline }

:any-link {
  color: inherit;
  cursor: grabbing;
}

:hover {
  text-decoration-style: double;
}

:focus {
  outline: thick double;
  text-decoration-style: dotted;
  background-image: linear-gradient(.666turn, deepskyblue, deepskyblue 50%, skyblue 50%, skyblue);
}

html {
  font: max(3ex, 3vmax + 2vmin) sans-serif;
  line-height: 1.618;
}

body {
  margin: 0;
  overflow-wrap: anywhere;
}

article {
  display: flex;
  flex-flow: column;
  contain: content;
}

h1 {
  margin: 0;
  padding-block: 1rem;
  text-align: center;
  transform: rotate(3deg);
}

a {
  border-radius: 100%;
  display: flex;
  padding: 1ch;
  margin: auto;
  margin-bottom: 1ch;
}

nav {
  display: flex;
  flex-flow: column;
  padding: 1em;
  transform: rotate(3deg);
}

[hidden] {
  display: none;
}
